@font-face {
    font-family:'Folkard';
    src: url("Folkard.ttf");
}

@font-face {
    font-family:'Annabelle';
    src: url("Annabelle.ttf");
}

@font-face {
    font-family:'Cute';
    src: url("CuteFont.ttf");
}

@font-face {
    font-family:'Cloister';
    src: url("CloisterBlack.ttf");
}

@font-face {
    font-family:'cake';
    src: url("cake.ttf");
}

@font-face {
    font-family:'ShouJin';
    src: url("瘦金简体.ttf");
}

@font-face {
    font-family:'ShiGuang';
    src: url("中文时光体.ttf");
}

@font-face {
    font-family:'ShiGuang';
    src: url("中文时光体.ttf");
}

@font-face {
    font-family:'Speedline';
    src: url("speedline.ttf");
}